.photo-grid{
    width: 1184px;
    height: 671px;
    padding: 0 48px 92px;
    display: grid;
    gap: 16px;
    margin: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px){
    .photo-grid{
      width: 928px;
      height: 942px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
}
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .photo-grid{
        width: 720px;
        height: 1664px;
        padding: 0 24px 88px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}
  @media screen and (min-width: 320px) and (max-width: 767px){
    .photo-grid{
        width: 288px;
        height: 2724px;
        padding: 0 16px 64px;
        grid-template-columns: 1fr;
        gap: 12px;
    }
}