.places {
    margin: 0 auto 92px;
    max-width: 984px;
  }


@media screen and (min-width: 1024px) and (max-width: 1279.9px){
    .places{
      max-width: 928px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023.9px){
    .places{
        max-width: 720px;
        margin: 0 auto 90px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767.9px){
    .places{
        width: 100%;
        margin: 0 auto 66px;
    }
}
