.page {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter','Arial', sans-serif;
    background-color: #2A2C2F;
    ;
  }

  .header{
    max-width: 1280px;
    max-height: 52px;
    display: flex;
    justify-content: space-between;
    padding: 28px 48px 56px;
  }

   .header__logo{
    width: 176px;
    height: 52px;
  }

  .header__lang-link{
    display: flex;
    align-items: flex-end;
    margin: 0;
    font-style: normal;
    font-size: 24px;
    line-height: 117%;
    transition: 1s;
  }

  .ru-link {
    text-decoration: underline;
    padding-right: 18px;
    color:#FFFFFF;
  }

  .en-link {
    text-decoration: none;
    color:#FFFFFF;
  }

  .lead{
    color: #FFFFFF;
    margin: 0;
    padding: 0px 148px;
    max-width: 1280px;
    max-height: 1005px;
  }

  .lead__title{
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    margin: 0;
  }

  .lead__subtitle{
    padding-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    margin: 0;
  }

  .lead__img{
    background-repeat: no-repeat;
    width: 984px;
    height: 615px;
    padding-top: 64px;
    object-fit: cover;
  }

  .lead__caption{
    margin: 0;
    padding-top: 8px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
  }

  .intro {
    color: #FFFFFF;
    margin: 0;
    padding: 92px 442px 92px 148px;
    max-width: 690px;
    max-height: 754px;
  }
