@media screen and (max-width: 425px) {
    .content__columns{
      flex-direction: column;
    }
    .content__column{
      width: 100%;
      margin-bottom: 60px;
    }
    
  }

  /* Основной код для разрешения 1024px */
@media screen and (min-width: 2560px) {
    /* стили для больших мониторов с разрешением 4K */
}
@media screen and (min-width: 1440px) {
    /* стили для больших настольных компьютеров и ноутбуков */
}
@media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
}
@media screen and (max-width: 768px) {
    /* стили для планшета */
}
@media screen and (max-width: 425px) {
    /* стили для широкого смартфона */
}
@media screen and (max-width: 375px) {
    /* стили для среднего смартфона */
}
@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
}



@media screen and (max-width: 320px) {
    /* стили для мониторов с максимальной шириной 320 пикселей */
}

@media all and (max-width: 320px) {
    /* стили для любых типов устройств с максимальной шириной 320 пикселей */
}


media screen and (min-width: 768px){
    .page{
        max-width: 768px;
    }


.content__column {
    width: 100%; 
    margin-bottom: 60px; 
    display: flex; 
    justify-content: space-between;
    align-items: flex-start; 
}

.content__column-image {
    width: 30%; 
    padding-bottom: 30%;
}

.column__description {
    width: calc(70% - 40px); 
}

.content__column-title {
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 18px;
}
.column__quote {
    font-size: 0.9em;
}

.column__quote-cite {
    font-size: 0.7em;
    line-height: 1.5;
}

.share {
    margin-top: 18px;
}

.share__text {
    font-size: 1em;
}