.header{
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 28px auto 0;
  }

@media screen and (min-width: 1024px) and (max-width: 1279.9px) {
    .header{
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.9px) {
    .header{
        max-width: 720px;
        margin: 28px auto 0;

    }
}
@media screen and (min-width: 320px) and (max-width: 767.9px){
    .header{
        max-width: 288px;
        margin: 16px auto 0;
    }
}
