.header{
    min-width: 1184px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    padding: 28px 0 56px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1024px){
    .header{
        max-width: 928px;
        padding: 28px 0 48px;
    }
}
@media screen and (min-width: 768px){
    .header{
        max-width: 720px;
        padding: 28px 0 48px;
    }
}
@media screen and (min-width: 320px){
    .header{
        max-width: 288px;
        padding: 16px 0 48px;
    }
}