.place{
    margin: 0;
    padding-bottom: 80px;
    max-width: 984px;
    display: grid;
    row-gap: 48px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, fit-content(460px));
    
  }